<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <title>Lista de tareas</title>
    <style>
      h1 {
        color: rgb(5, 5, 56);
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }

      #niv{
          color: rgb(5, 5, 62);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 20px;
      }
    </style>
  </head>

  <body class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto bg-danger p-5 text-center">
      <h1>Lista de Tareas Pendientes</h1>

      <!--Controlador enviar tareas a la lista-->
      <!--Creación de URL dinámica sin clave pasada: url_for-->
      <form action="{{ url_for('enviar') }}" method="post">
        <div class="form-group">
          <input
            type="texto"
            name="tareaI"
            class="form-control"
            placeholder="Ingrese la tarea pendiente"
          />
        </div>
        <br />

        <!--Controlador del correo electronico-->

        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Ingrese el correo electronico"
            name="tareaC"
          />
        </div><br>
        <!--Controlador del nivel de prioridad -->
        <div class="form-group">
          <label id="niv">Nivel de prioridad de la tarea</label> <br><br>
          <select
            class="form-select"
            aria-label="Default select example"
            name="tareaP"
          >
            <option value="1">Alto</option>
            <option value="2">Medio</option>
            <option value="3">Bajo</option>
          </select>
          <br />
          <button type="submit" class="btn btn-primary">
            Agregar a la tarea</button
          ><br /><br>
        </div>
      </form>

	  <!--Controlador de eliminar tarea-->
      <div class="form-group">
        <form action="{{ url_for('borrar') }}" method="post">
          <input
            type="text"
            name="tareaB"
            class="form-control"
            placeholder="Ingrese la tarea que desea borrar"
          /><br />
          <button type="submit" class="btn btn-primary">Borrar</button><br><br>
        </form>
      </div>
	  
	  <!--Template con la lista-->
      {% block body %}
      <ul class="list-group">
        {% for tarea in lista %}
        <li class="list-group-item" id="lista">{{ tarea }}</li>
        {% endfor %}
      </ul>
      {% endblock %}
    </div>
  </body>
</html>